<style type="text/css">
.auto-style7 {
	font-size: 8pt;
	color: black;
	font-family: Verdana;
	vertical-align: bottom;
	text-align: left;
	text-decoration: none;
	background-color: #FFFFFF;
}
.auto-style8 {
	border: 0 solid #000000;
	font-size: 8pt;
	color: black;
	font-family: Verdana;
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	background-color: #FFFFFF;
}
.auto-style9 {
	border-style: 0;
	border-width: 0px;
	border-color: #FFFFFF;
}
.auto-style10 {
	color: #800000;
}
.auto-style11 {
	color: #800000;
	vertical-align: middle;
}
.auto-style12 {
	border: 0 solid #000000;
	font-size: 8pt;
	color: black;
	font-family: Verdana;
	vertical-align: bottom;
	text-align: left;
	text-decoration: none;
	background-color: #FFFFFF;
}
.auto-style13 {
	margin-left: 40px;
}
.auto-style16 {
	text-align: left;
	font-size: 7pt;
	color: #42597B;
	font-family: Verdana;
	font-style: normal;
}
.auto-style17 {
	font-size: 7pt;
	color: #42597B;
	font-family: Verdana;
}
.auto-style18 {
	text-align: left;
	font-size: 7pt;
	color: #42597B;
	font-family: Verdana;
}
.auto-style19 {
	text-align: right;
	font-size: x-large;
	color: maroon;
}
.auto-style20 {
	font-size: large;
	color: maroon;
	text-align: right;
}
.auto-style21 {
	font-size: small;
}
.auto-style22 {
	text-align: right;
	color: #800000;
}
.auto-style23 {
	font-size: xx-small;
	text-align: right;
}
.auto-style24 {
	text-align: left;
	font-size: xx-small;
	color: #42597B;
	font-family: Verdana;
	font-style: normal;
}
.auto-style25 {
	border-width: 0px;
}
    .style1
    {
        border: 0 solid #000000;
        font-size: 8pt;
        color: black;
        font-family: Verdana;
        vertical-align: top;
        text-align: left;
        text-decoration: none;
        background-color: #FFFFFF;
        width: 33%;
        height: 43px;
    }
.auto-style26 {
	font-size: 7pt;
	color: #000000;
	font-family: Verdana;
	font-style: normal;
}
.auto-style28 {
	color: #800000;
	background-color: #800000;
}
.auto-style30 {
	font-weight: bold;
}
    .style16
    {
        text-align: left;
        height: 17px;
    }
</style>